@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Kanit:wght@300&display=swap');

:root {
  --color-theme: #3CE7BD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  font-family: 'Kanit', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 8vw;
}

header {
  box-shadow: 4px 0 10px;
  padding: 15px;
}

header .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content .logo {
  font-family: 'Fasthand', cursive;
  font-size: 20px;
  color: var(--color-theme);
}

header .content .nav_links {
  display: flex;
}

header .content .nav_links > div {
  padding:0 10px;
  margin-right: 25px;
}

header .content .nav_links > div:last-child {
  padding-right: 0;
  margin-right: 0;
}