@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

:root {
  --color-theme: #3CE7BD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  font-family: 'Fredoka', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 8vw;
}

header {
  box-shadow: 4px 0 10px;
  padding: 15px;
}

header .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content .logo {
  font-family: 'Fasthand', cursive;
  font-size: 20px;
  color: var(--color-theme);
}

header .content .nav_links {
  display: flex;
}

header .content .nav_links > div {
  padding:0 10px;
  margin-right: 25px;
}

header .content .nav_links > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.page_head {
  text-align: center;
  font-weight: 400;
}


/* form styles */
.form_wrapper {
  display: flex;
  justify-content: center;
}

.form_wrapper form {
  background-color: var(--color-theme);
  padding: 20px;
  color: #FFF;
  border-radius: 5px;
  width: 400px;
}

.form_wrapper form .form_header_wrapper {
  margin-bottom: 30px;
}

.form_wrapper form .form_header_wrapper .form_head{
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0 4px;
}

.form_wrapper form .form_header_wrapper .form_desc {
  margin: 0;
}

.form_wrapper form input {
  padding: 15px;
  color: rgb(113, 113, 113);
  border-radius: 3px;
  border: none;
  width: 100%;
  font-size: 16px;
  margin-bottom: 25px;
}

.form_wrapper form .submit_wrapper {
  text-align: center;
}

.form_wrapper form .submit_wrapper button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #bdffef;
  font-weight: 400;
  font-size: 15px;
  color: #8d8d8d;
  cursor: pointer;
  box-shadow: 0 0 15px;
}

.form_wrapper form .redirect {
  margin: 20px 0 0;
  text-align: center;
}

.form_wrapper form .redirect p {
  margin: 0;
  font-size: 15px;
}

.form_wrapper form .redirect p a {
  color: #8d8d8d;
}